@use "theme.scss";
@use "components.scss";
@use "document.scss";

:root {
	color-scheme: dark;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;

	font-family: sans-serif;
	text-align: center;

	color: var(--fg-primary);

	background-color: var(--bg-primary);
}

:link {
	color: var(--fg-link);

	&:visited {
		color: var(--fg-link-visited);
	}

	&:hover,
	&:focus-visible {
		color: var(--fg-link-hover);
	}
}

:focus-visible {
	outline: 2px solid var(--fg-focus);
}

input {
	color: var(--fg-primary);

	border: none;

	background-color: var(--bg-input);
}
