:root {
	--main-bg: hsl(10, 0%, 33%);
	--main-fg: hsl(210, 10%, 90%);

	--secondary-bg: hsl(10, 15%, 37%);
	--secondary-hover-bg: hsl(10, 20%, 50%);
	--secondary-active-bg: hsl(10, 30%, 40%);
	--secondary-selected-bg: hsl(10, 50%, 40%);
	--secondary-fg: hsl(210, 10%, 98%);

	--shadow: hsl(0 0% 10% / 0.8);
}
